body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

#addBtn {
    width: 70%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
#addBtn:hover{
    background: #0d6dd4d3;
}

#error {
    color: red;
    font-size: 14px;
}

.blog {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;    
}
.delBtn{
    width:30%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.delBtn:hover{
        background: #0d6dd4d3;
}
.confBtn{
color: red;
}